/* login form */
.ui.stacked.segment {       
    padding-bottom: 5em;
    padding-top: 4em;
    background-color: #524141f1;
}

.ui.vertical.segment {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 40px solid transparent;
}  

.catchError{
    margin-top: 15px;
    color: whitesmoke;
}

.catchError_2{
    color: whitesmoke;
}

.login-form{
        /* background-image: url("https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350"); */
        /* background: url("../src/images/title.jpg"); */
        background-color: rgba(0, 0, 0, 0.87);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}



